
@{
    ViewData["Title"] = "Logout";
}

<h1>Logout</h1>

<h4>Are you sure you want to logout?</h4>


<form method="post" asp-action="LogoutConfirm" asp-controller="Account">
    <button type="submit" class="btn-primary btn">Logout</button>
</form>
