
@{
    ViewData["Title"] = "My Account";
}

<h1>My Account</h1>

<br />

<a href ="@Url.Action("ResetSecQuestions", "Account")">
    <button class="btn btn-primary">Reset Security Questions</button>
</a>

<br />
<br />

<a href="@Url.Action("Logout", "Account")">
    <button class="btn btn-primary">Logout</button>
</a>

<br />
<br />

<a href="@Url.Action("ForgotPassword", "Account")">
    <button class="btn btn-primary">Reset Password</button>
</a>