
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Click here to send email to @ViewBag.Username for password reset</h2>

<form method="post">
    <button type="submit" class="btn btn-primary">Send Email</button>
</form>


